.card {
    height: 25vh;
    width: 90%;
}

.feedContainer {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    & > div {
        width: 90%;
    }
}

.contentCard {
    height: 72vh;
    width: 90%;
}