@import "src/modules/Core/styles/variables.scss";

button.button {
    height: 12rem;
    width: 18rem;
    display: flex;
    border: 1px dashed $kermit_green;
    justify-content: center;
    align-items: center;
    margin: 0rem 1rem;
}