.container {
    // margin: 1rem 0;
    padding: 1rem;
    background-color: rgba(white, 0.5);
    input { 
        background-color: white;
        border-radius: 1rem;
    }
    button {
        background-color: white;
    }
}

.actions {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
} 