.container {
    padding: 1rem;
    input { 
        background-color: white;
        border-radius: 1rem;
    }
    button {
        background-color: white;
    }
}

.actions {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
} 