.container {
    padding: 2rem;
    max-width: 120rem;
    margin: 0 auto;
}

.header {
    margin-bottom: 2rem;
}

.cardsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
}

.card {
    padding: 2rem;
}

