@import "src/modules/Core/styles/variables.scss";

.container {
  width: 90%;
  margin-top: 2rem;

  &>div:first-child {
    margin-bottom: unset;
    cursor: pointer;
  }

  &:not(.childFeedItem) {
    height: 5.4rem;
    margin: 1rem auto;

    &>div:first-child {
      height: 5.4rem;
      max-height: unset;
    }
  }

  &>div:not(:first-child) {
    padding: unset;
  }

  .textContainer {
    border: 1px solid $grey72;
    border-radius: 0.9rem;
  }
}

.options {
  width: 100%;

  &>div button {
    font-size: 0.72rem;
    padding: 0rem 0.5rem !important;
    margin: 0.25rem;
  }
}


.stampIndicator {
  margin: 0rem 1rem;
  display: flex;

  svg {
    height: 1.75rem;
    width: 1.75rem;
  }

  .completed {
    color: $ocean_blue;

    &:hover {
      color: purple;
      transform: rotate(0deg);
    }
  }

  .dottedCrossHairs {
    color: $grey72;
    transition: all 0.5s ease;
    transform: rotate(45deg);
    cursor: pointer;

    &:hover {
      color: $ocean_blue;
      transform: rotate(0deg);

      &:after {
        content: "Complete!";
        font-size: 0.72rem;
        font-weight: 700;
        color: $ocean_blue;
        margin-left: 0.5rem;
      }
    }
  }

  .crossHairs {
    color: $grey72;
    transition: all 0.5s ease;
    transform: rotate(45deg);
    cursor: pointer;

    &:hover {
      color: $ocean_blue;
      transform: rotate(0deg);
    }

    &:after {
      content: "Commenced";
      font-size: 0.72rem;
      font-weight: 700;
      color: $ocean_blue;
      margin-left: 0.5rem;
    }
  }
}