.horizontalOptions {
  height: 3rem;
  & > button svg {
    transition: 1s all;
    transform: rotate(90deg);
    padding: unset;
  }
  & > div {
    display: flex;
    flex-direction: row-reverse;
    width: 0rem;
    overflow: hidden;
    transition: 1s all;
    align-items: center;
    overflow-x: scroll;
  }
  display: flex;
  flex-direction: row-reverse;
  &.open {
    & > button svg{
      transform: rotate(0deg);
    }
    & > div {
      width: 90%;

      & button svg {
        padding: 0rem 1rem;
        max-height: 90%;
      }
    }
  }
}
