@import "src/modules/Core/styles/variables.scss";

.container {
    display: flex;
    padding: 0.5rem 1rem;
    height: 10rem;

    .titleContainer {
        margin-top: 4rem;
        align-items: center;
    }

    .titleAppendagesContainer {
        height: -webkit-fill-available;
        position: relative;
    }


    button {
        padding: unset;
    }

    .title {
        font-size: 2rem;
        display: -webkit-box;
        -webkit-line-clamp:1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 1.2;
        max-height: calc(1.2 * 2rem);
        max-width: 90%;
        margin: 0.5rem;
        width: fit-content;
        cursor: default;
    }

    .subheadingContainer {
        width: 100%;
        padding: 0rem 0.5rem;
    }

    .subheading {
        font-size: 1rem;
        color: $grey72;
        margin: unset

    }
    
}