.container {
    padding: 2rem;
}

.header {
    margin-bottom: 2rem;
}

.subscriptionsCard {
    min-height: 60rem;
}

.tabContainer {
    padding: 2rem;
    max-height: 55rem;
    overflow-y: auto;
}

