@import "src/modules/Core/styles/variables.scss";

.labelsCard {
  height: auto;
  min-height: 200px;
  button {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
  }
}

.labelItem {
  padding: 0.5rem 0;
  border-bottom: 1px solid $grey10;
  
  &:last-child {
    border-bottom: none;
  }
} 