@import "src/modules/Core/styles/variables.scss";

.container {
    width: 100%;
    height: 100%;
    justify-content: space-between;
}
.feedContainer {

}
.feedItem {
    margin: 1rem 2rem;
    width: unset;
    min-width: unset!important;
    min-height: 12rem;
}

.selectableFeedItem {
    cursor: pointer;
    transition: border-color 0.2s ease;
    
    &:hover {
        border-color: $ocean_blue50;
    }
}

.selectedFeedItem {
    border-color: $ocean_blue;
    border-width: 2px;
    box-shadow: 0 4px 12px $ocean_blue36, 0 2px 6px $ocean_blue10;
}

.selectButton {
    position: sticky;
    bottom: 0;
    background: white;
    padding: 1rem 2rem;
    border-top: 1px solid $grey18;
    z-index: 10;
    box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.1);
}

.boothTag {
    margin-top: 0.5rem;
    display: flex;
    justify-content: flex-end;
}