.optionsContainer {
    position: absolute;
    bottom: 0rem;
    right: 0rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem 0.5rem;
    & > div:first-child {
        margin: 0rem 1rem;
    }
}


.parentBtn {
    margin-bottom: 3rem;
    width: 90%;
}

.headerCard {
    height: 25vh;
}

.tabsCard {
    margin-top: 1rem;
    min-height: 72vh;
}