@import "src/modules/Core/styles/variables.scss";

$cardHeaderHeight: 4rem;

.cardHeader {
  h2 {
    font-size: 1.5rem;
  }
  border-bottom: 1px solid $grey36;
  padding-inline: 1rem;
  height: $cardHeaderHeight;
  position: absolute;
  top: 0rem;
}

.card {
  transition: all 0.5s ease-in-out;
  position: relative;
  .cardContentContainer {
    margin-top: $cardHeaderHeight;
  }

  &.focusedCard {
    // potential focused card UI
    right: 25%;
    z-index: 10;
    background-color: white;
    width: 54vw;
    height: 75vh;
    max-height: unset !important;
    top: 12.5vh;
    box-shadow: 0px 0px 72px $grey18;
    position: absolute;
  }
}

.collapsibleCard {
  height: 50rem;
  .cardHeader {
    cursor: pointer;
  }
  &.collapsed:not(.focusedCard) {
    height: $cardHeaderHeight;
    overflow: hidden;

  }
  transition: all 0.5s ease-in-out;
}