@import "src/modules/Core/styles/variables.scss";

.childItem {
  height: 3rem;
  width: -webkit-fill-available;
  border: 1px solid $grey72;
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-top: 0.25rem;
  h2 {
    margin: unset;
    display: flex;
    align-items: center;
  }
  p div {
    justify-content: flex-end;
    max-height: 100%;
    align-items: center;
    & > div {
      max-height: 100%;
    }
  }
  padding: 0rem 0.5rem;
}

.feedContainer {
  overflow-x: scroll;
  & > button {
    min-width: 18rem;
    height: 90%;
  }
}

.container {
  min-width: 36rem;
  & .header {
    width: -webkit-fill-available;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0rem;
    background: white;
    z-index: 1;
    height: 3rem;
  }
}

.features {
  margin-top: 0.5rem;
  padding: 0.25rem;
  margin-bottom: 0.5rem;
  & h2 {
    margin: 0.25rem 0rem;
  }
}

.openChildOptions {
  position: absolute;
  right: 0rem;
  background: white;
  top: 0rem;
  & div > button {
    max-width: 1.5rem;
    max-height: 2.7rem !important;
  }
}

.progressContainer {
  padding: 0rem 0.25rem;
  margin-top: 0.5rem;
  & span {
    width: 100%;
  }
}
