button.addCycleButton {
    height: 100%;
    width: 100%;
    display: flex;
    border: 1px dashed grey;
    justify-content: center;
    align-items: center;
    margin: 1rem 0rem;
    padding: 1.5rem;
}

