.container {
    display: flex;
    justify-content: center;
    align-items: center;

    .card {
        max-width: 54rem;
        height: 18rem;
        & > div:last-child {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            & p {
                margin-top: 2rem;
                max-width: 75%;
                text-align: center;
            }
            & button {
                margin-top: 1rem;
            }
        }
    }
}