.container {
    display: flex;
    justify-content: center;
    align-items: center;
    & > div:first-child {
        position: absolute;
        top: 0rem;
    }
}

.card {
    max-height: 36vh;
    width: 54vw;
    padding: 1rem;
    button {
        margin-top: 1rem;
    }
}