@import "src/modules/Core/styles/variables.scss";

button.learnMoreButton {
    margin-top: 1rem;
    margin-bottom: 1rem;
    
    padding: 0.5rem 3rem;
    margin: 1rem auto;
    background: $grey36 !important;
    color: black !important;
    max-width: 20rem;
    min-width: 15rem;
    align-self: center;
    &:hover {
        border: 1px solid $ocean_blue;
        transform: scale(1.1);
    }
}

.contentContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.emptyImage {
    width: 30rem;
    height: auto;
    margin: 0 auto 2rem auto;
    opacity: 0.8;
}