@import "src/modules/Core/styles/variables.scss";

.section {
  // height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid $grey10;
}

.dividerSection {
  width: 100%;
  background-color: $grey3;
}

.contentWrapper {
  max-width: 72rem;
  margin: 0 auto;
  text-align: center;
}

.headerSection {
  margin-bottom: 3rem;
}

.sectionHeader {
  font-size: 2.5rem;
  font-weight: 400;
  color: $grey90;
  margin-bottom: 1.5rem;
  text-align: center;
  
  @media (min-width: 48rem) {
    font-size: 3rem;
  }
}

.decorativeDivider {
  width: 4rem;
  height: 0.25rem;
  background-color: #6366f1;
  margin: 0 auto;
  border-radius: 0.125rem;
}

.bodySection {
  max-width: 72rem;
  margin: 7rem auto;
  background: linear-gradient(90deg, rgba(99, 102, 241, 0.18), rgba(220, 38, 38, 0.18), rgba(139, 92, 246, 0.18));
  border-radius: 1.5rem;
  padding: 1rem 1.5rem;
  border-image: linear-gradient(90deg, rgba(99, 102, 241, 0.2), rgba(220, 38, 38, 0.2), rgba(139, 92, 246, 0.2));
  border: 0.25rem solid rgba(99, 102, 241, 0.2);

}

.bodyText {
  font-size: 1.75rem;
  color: $grey90;
  font-weight: 500;
  line-height: 1.8;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 300;
  font-style: italic;
  color: $grey90;
  line-height: 1.6;
  
  @media (min-width: 48rem) {
    font-size: 1.75rem;
  }
}

// // Callout box styles
// .calloutContainer {
//   margin-bottom: 3rem;

//   @media (min-width: 48rem) {
//     margin-bottom: 4rem;
//   }
// }

// .calloutBox {

//   @media (min-width: 48rem) {
//     // padding: 3rem;
//     border-radius: 2rem;
//   }
// }

// .calloutText {


//   @media (min-width: 48rem) {
//     font-size: 1.875rem;
//   }

//   @media (min-width: 64rem) {
//     font-size: 2rem;
//     line-height: 1.7;
//   }
// }