@import "src/modules/Core/styles/variables.scss";

.childGatewayItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.2rem 0.5rem;
    margin: 0.5rem 0;
    border: 1px solid $grey10;
    border-radius: 0.2rem;
    background-color: $white90;
    transition: all 0.2s ease;
    height: 2rem;

    &:hover {
        border-color: $grey18;
        background-color: $grey3;
        box-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.08);
    }

    .gatewayName {
        font-size: 0.75rem;
        font-weight: 400;
        color: $grey90;
        flex: 1;
        margin-right: 0.4rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }


    .stampButton {
        font-size: 0.6rem !important;
        padding: 0.25rem 0.5rem !important;
        min-height: 1rem !important;
        line-height: 0.8 !important;
        max-width: 5rem !important;
        height: 1.5rem !important;
        margin: 0.25rem 0.5rem 0 0 !important;
    }

    .stampsContainer > div {
        &>p {
            font-size: 0.6rem !important;
            line-height: 0.8 !important;
        }

        padding: 0.25rem 0.5rem !important;
        min-height: 1rem !important;
        margin: 0.25rem 0.5rem 0 0 !important;
    }
}